#form
  = form_tag do
    - flash_messages
    %img{ :src => "/images/forms/titlebars/titlebar_contactus.gif"}
    %img{ :src => "/images/forms/contact_infobox.gif"}
    %br
    %br
    <table width="346" height="400px" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td valign="middle"><b>First Name</b></td>
    <td valign="middle"><input type="text" name="first" id="first" value="#{ params[:first] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Last Name</b></td>
    <td valign="middle"><input type="text" name="last" id="last" value="#{ params[:last] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Phone</b></td>
    <td valign="middle"><input type="text" name="phone" id="phone" value="#{ params[:phone] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Email</b></td>
    <td valign="middle"><input type="text" name="email" id="email" value="#{ params[:email] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Confirm Email</b></td>
    <td valign="middle"><input type="text" name="confirm_email" id="confirm_email" value="#{ params[:confirm_email] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Comments</b></td>
    <td valign="middle"><textarea name="comments" rows="8" id="comments">#{params[:comments]}</textarea></td>
    </tr>
    <tr>
    <td colspan="2" valign="middle">
    = image_submit_tag "/images/forms/btn_submit.gif"
    </td>
    </tr>
    </table>