#form
  = form_tag do
    - flash_messages
    %img{ :src => "/images/forms/titlebars/titlebar_corpevents.gif"}
    %p
      Please fill out the form below for pricing and private event information.      
    <table width="346" height="450px" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td width="107" valign="middle"><b>Event</b></td>
    <td width="239" valign="middle">
    = EventSelect.tag.html_safe
    </td>
    </tr>
    <tr>
    <td valign="middle"><b>First Name</b></td>
    <td valign="middle"><input type="text" name="first" id="first" value="#{ params[:first] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Last Name</b></td>
    <td valign="middle"><input type="text" name="last" id="last" value="#{ params[:last] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Company</b></td>
    <td valign="middle"><input type="text" name="company" id="company" value="#{ params[:company] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Phone</b></td>
    <td valign="middle"><input type="text" name="phone" id="phone" value="#{ params[:phone] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Email</b></td>
    <td valign="middle"><input type="text" name="email" id="email" value="#{ params[:email] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b>Confirm Email</b></td>
    <td valign="middle"><input type="text" name="confirm_email" id="confirm_email" value="#{ params[:confirm_email] }" /></td>
    </tr>
    <tr>
    <td valign="middle"><b># of Guests</b></td>
    <td><select name="guests" id="guests">
    <option>Select # of Guests</option>
    <option>21-40</option>
    <option>41-60</option>
    <option>61-80</option>
    <option>81+</option>
  
    </select></td>
    </tr>
    <tr>
    <td valign="middle"><b>Comments</b></td>
    <td valign="middle"><textarea name="textfield6" rows="8" id="textfield6">#{params[:comments]}</textarea></td>
    </tr>
    <tr>
    <td colspan="2" valign="middle">
    = image_submit_tag "/images/forms/btn_submit.gif"
    </td>
    </tr>
    </table>